<p id='hashtag' class=''>Tag: <%= @map_settings.hashtag %></p>
<p id='latitude' class=''>Latitude: <%= @map_settings.latitude %></p>
<p id='longitude' class=''>Longitude: <%= @map_settings.longitude %></p>