<h1>Welcome to MDC-Instagram.</h1>
<h4>Please select your parameters.</h4>

<div class="row">
  <div class="six columns">
	  
	<%= render 'lat_lngs/form' %>
	<%= render 'hashtags/form' %>

  </div>
  
  <i>clicking submit needs to save hashtag and lat/lng to database for later retrieval.</i>
  
  <input class="button-primary" type="submit" value="Submit" id='submitHashtag'>

</div> <!-- /row -->