<h1>Welcome to MDC-Instagram.</h1>
<h4>Please select your parameters.</h4>

<div class="row">
  <div class="six columns">
  	<label for="searchTag">Hashtag</label>
		<input class="u-full-width" type="text" placeholder="#codeforamerica" id="searchTag">
	
		<label for='coordinates'>What are your coordinates?</label>
		<input class='' type='text' placeholder='Lat, Lng' id='coordinates'>
	
  </div>
  
  <i>clicking submit needs to save hashtag and lat/lng to database for later retrieval.</i>
  
  <input class="button-primary" type="submit" value="Submit" id='submitHashtag'>

</div> <!-- /row -->