<p id='hashtag' class=''><%= @map_settings.hashtag %></p>
<p id='latitude' class='hidden'><%= @map_settings.latitude %></p>
<p id='longitude' class='hidden'><%= @map_settings.longitude %></p>

<div id='map'>
	</div>