body {
	
		
}

header {
	
	width:100%;
	background-color:#cacaca;
		
}

header nav li {
	
	display:inline-block;
	list-style:none;
}

#container {
	
	width:90%;
	margin:0 auto;
}

nav li {
	
	width:20%;
}