<h1><%= @category.name %></h1>
<%= render partial: 'listings/list', locals: {
    listings: @category.listings } %>'
    
    <p>
  <strong>Category:</strong>
  <% if @listing.category %>
    <%= link_to @listing.category.name, @listing.category %>
  <% else %>
    none
  <% end %>
</p>