<header>
	
	<nav>
		<li><%= link_to root_path, class: 'navbar-brand' do %>
       MDC Instamap
      <% end %>
		</li>
		
		<li id='sign_in'>Sign In</li>
    <li id='sign_out'>Sign Out</li>
	
	</nav>
	
	
</header>